/*********************************************ELEMENTS*********************************************/
body{
  color: #40514E;
  margin: 0;
  text-align: center;
  font-family: verdana;
}

h1{
  font-family: sacramento;
  font-size: 5.625rem;
  margin: 50px auto 0 auto;
  color: #66BFBF;
}

h2{
  font-family: montserrat;
  font-size: 2.5rem;
  color: #66BFBF;
  font-weight: normal;
  padding-bottom: 10px;
}

h3{
  font-family: montserrat;
  color: #11999E;
}

a{
  color: #11999E;
  font-family: montserrat;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover{
  color: #EAF6F6;
  font-family: montserrat;
  margin: 10px 20px;
  text-decoration: none;
}

p{
  line-height: 2;
}

hr{
  border: dotted #EAF6F6 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}

/*********************************************TOP CONTAINER*********************************************/
.top-container{
  background-color: #E4F9F5;
  padding-top: 100px;
  position: relative;
}

.web{
  text-decoration: underline;
}

.top-cloud{
  position: absolute;
  right: 300px;
  top: 50px;
}

.bottom-cloud{
  position: absolute;
  left: 300px;
}

/*********************************************MIDDLE CONTAINER*********************************************/
.middle-container{
  margin: 100px 0;
}

.img-profile{
  border-radius: 100%;
  width: 15%;
}

.intro{
  width: 30%;
  margin: auto;
}

.skill-row{
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
}

.code-img{
  width: 25%;
  float: left;
  margin-right: 30px;
}

.chilli-img{
  width: 25%;
  float: right;
  margin-left: 30px;
}

.contact-message{
  width: 40%;
  margin: 40px auto 60px;
}

.btn{
  background-color: #11999E;
  color: white;
  border-radius: 5px;
  text-decoration: none;
  padding: 10px;
}

.btn:hover{
  background-color: #66BFBF;
  color: white;
  border-radius: 5px;
  text-decoration: none;
  padding: 10px;
}

/*********************************************BOTTOM CONTAINER*********************************************/
.bottom-container{
  background-color: #66BFBF;
  padding: 50px 0 20px;
}

.copyright{
  color: #EAF6F6;
  padding: 20px 20px;
  font-size: 0.75rem;
}
